.wrapper {
    display: flex;
    align-items: center;
    gap: 20px;

    background: rgba(252, 252, 253, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

    padding: 21px 35px;
    border-radius: 20px;

    >img {
        cursor: pointer;
    }
}

.left {
    transition: transform 0.3s ease;
}

.left:hover {
    transform: translateX(5px);
}

.right {
    transition: transform 0.3s ease;
}

.right:hover {
    transform: translateX(5px);
}